@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.basicText {
  @apply text-red-500;
}

.basicColor {
  @apply bg-red-500;
}
.basicColor:hover {
  @apply bg-red-700;
}

.basicButton {
  @apply border-2 rounded-full  py-3 text-white text-xl min-w-96 mt-2;
}

.hoverable-item:hover {
  transition: transform 300ms ease-in-out;
  transform: scale(1.1);
  background-color: aliceblue;
  border-radius: 1rem;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}

.rotate-360:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.searching {
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

label {
  @apply text-xl text-gray-500 font-serif ml-4;
}

input:not([type="checkbox"]) {
  @apply bg-gray-50 border-2 rounded-full shadow-sm outline-none p-2 px-4 m-2 min-w-96;
}
h1{
   @apply cursor-default
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}


:root::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

:root::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: #CBC3E3;
}

:root::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}


.customScrollbar::-webkit-scrollbar {
  width: 20px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.customScrollbar::-webkit-scrollbar-thumb {

  background: lightblue;
  border-radius: 5rem;

}

